<div class="header">
  <a routerLink="">
    <mat-icon>chevron_left</mat-icon> Add Helper
  </a>
</div>

<mat-stepper class="stepper" [linear]="true" #stepper>
  <mat-step class="step" [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Helper Details</ng-template>
    <form class="step-form" [formGroup]="firstFormGroup" (ngSubmit)="handleSubmitForm1()">
      <h1>Helper Details</h1>
      <p>Track, Add and Manage all your helpers at one place</p>

      <label class="profile-pic" [style.borderStyle]='imageBorder' for="profile-pic">
        <img *ngIf=" get('profilePic')?.value; else noPhoto" [src]="get('profilePic')?.value" alt="Profile Photo" />
        <ng-template #noPhoto>
          <mat-icon>upload</mat-icon>
          Upload <br> Photo
        </ng-template>
      </label>
      <span style="margin-bottom: 30px;">
        <span>Click to upload image</span>
        <input type="file" accept="image/*" id="profile-pic" (change)="onImageSelected($event)" hidden>
      </span>

      <label for="service">Type of Service*</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select Type of Service" formControlName="service">
          @for(s of inputOptions.services; track s){
          <mat-option [value]="s">{{s}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('service')?.hasError('required')">this filed is
        mandatory*</span>

      <label for="org">Organizatino Name*</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Organizatino Name" formControlName="organization">
          @for(o of inputOptions.orgs; track o){
          <mat-option [value]="o">{{o}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('organization')?.hasError('required')">this filed is
        mandatory*</span>


      <label for="name">Full Name*</label>
      <mat-form-field appearance="outline">
        <input matInput name="name" placeholder="Full Name" formControlName="name">
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('name')?.hasError('required')">this filed is mandatory*</span>



      <label for="Languages">Languages*</label>
      <mat-form-field appearance="outline">
        <mat-select formControlName="languages" placeholder="Languages" multiple>
          <mat-select-trigger>
            {{ selectedLanguages[0] || '' }}
            <span *ngIf="selectedLanguages.length > 1" class="example-additional-selection">
              (+{{ selectedLanguages.length - 1 }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let l of inputOptions.languages" [value]="l">{{ l }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('languages')?.hasError('required')">this filed is
        mandatory*</span>



      <label for="gender">Gender*</label>
      <mat-radio-group name="gender" aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
        <mat-radio-button value="Other">Other</mat-radio-button>
      </mat-radio-group>
      <span class="error" *ngIf="formSubmitted && get('gender')?.hasError('required')">this filed is mandatory*</span>


      <label for="phone">Phone*</label>
      <mat-form-field appearance="outline">
        <input matInput type="tel" id="phone" pattern="^\+?[0-9]{1,4}[ \-]?[0-9]{6,14}$" placeholder="Enter phone"
          formControlName="phone">
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('phone')?.hasError('required')">this filed is mandatory*</span>


      <label for="email">Email*</label>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Enter email" formControlName="email">
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && (get('email')?.hasError('required'))">this filed is mandatory*</span>
      <span class="error" *ngIf="formSubmitted && (get('email')?.value!='') && (get('email')?.invalid)">Invalid
        email*</span>


      <label for="vehicle">Choose vehicle type*</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="select veichle type" formControlName="vehicleType">
          <mat-option [value]="0">None</mat-option>
          @for(vt of inputOptions.vehicleTypes; track vt){
          <mat-option [value]="vt">{{vt}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <span class="error" *ngIf="formSubmitted && get('vehicleType')?.hasError('required')">this filed is
        mandatory*</span>

      <label>KYC Document*</label>
      <ng-template #upload>

        <div class="profile-pic kyc-docx" matButton="elevated" (click)="openKycDocxDialog()">
          <mat-icon>add</mat-icon>
        </div>
      </ng-template>
      <span class="error" *ngIf="formSubmitted && get('kycDocx')?.hasError('required')">
        kyc Document is mandatory*
      </span>

      <div *ngIf="kycDocName else upload"
        style="display: flex; margin-top: 10px; background-color: rgb(239, 239, 239); border-radius: 10px; width: fit-content;">
        <mat-icon style="color: red; width: fit-content; height: fit-content; font-size: 70px; ">description</mat-icon>
        <p style="font-size: small; margin: 15px 15px 15px 0;  align-self: flex-end; " *ngIf="kycDocName">
          {{kycDocName}}</p>
        <mat-icon (click)="kycDocName=''"
          style="font-size: xx-large; margin: auto 10px auto 10px; color: red; width: fit-content; height: fit-content; cursor: pointer;">delete</mat-icon>
      </div>

      <div class="nav-btns">
        <button matButton matStepperNext>Next <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" aria-disabled="true">
    <ng-template matStepLabel>Documents</ng-template>

    <form class="step-form" [formGroup]="secondFormGroup">
      <h1>Additional Documents</h1>
      <p>Upload related documents (Optional).</p>
      <div class="profile-pic kyc-docx" matButton="elevated" (click)="openAdditionalDocxDialog()">
        <mat-icon>add</mat-icon>
      </div>
      <p style="font-size: small;" *ngIf="additionalDocName">Selected : {{additionalDocName}}</p>


      <hr>
      <div class="nav-btns">
        <button matButton matStepperPrevious> <mat-icon>chevron_left</mat-icon>Previous</button>
        <button matButton matStepperNext>Next <mat-icon>chevron_right</mat-icon></button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <div class="final-step">
      <div class="final-step-profile">
        <img
          [src]="get('profilePic')?.value || 'https://ui-avatars.com/api/?name=' + firstFormGroup.get('name')?.value + '&background=random&color=fff&rounded=true&length=2'"
          alt="Profile Photo" />
        <div>
          <h3>{{firstFormGroup.get('name')?.value}}</h3>
          <span style="color: rgb(143, 143, 143);">{{firstFormGroup.get('service')?.value}}</span>
        </div>
      </div>
      <div>
        <h3>Personal Details</h3>
        <div class="final-step-details">
          <table>
            <tr>
              <td>Gender</td>
              <td>{{ firstFormGroup.get('gender')?.value }}</td>
            </tr>
            <tr>
              <td>Languages</td>
              <td>{{ firstFormGroup.get('languages')?.value }}</td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td>{{ firstFormGroup.get('phone')?.value }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ firstFormGroup.get('email')?.value }}</td>
            </tr>
            <tr>
              <td>KYC Document</td>
              <td>----</td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        <h3>Service Details</h3>
        <div class="final-step-details">
          <table>
            <tr>
              <td>Type</td>
              <td>{{ firstFormGroup.get('service')?.value }}</td>
            </tr>
            <tr>
              <td>Organization</td>
              <td>{{ firstFormGroup.get('organization')?.value }}</td>
            </tr>
            <tr>
              <td>Joined On</td>
              <td>{{ currDate | date:'mediumDate' }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="nav-btns">
      <button matButton matStepperPrevious><mat-icon>chevron_left</mat-icon> Previous</button>
      <button matButtonn (click)="addHelper()"> <mat-icon>add</mat-icon> Add Helper</button>
    </div>
  </mat-step>

</mat-stepper>